@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

:root {
	--accent-color: fuchsia;
	--left-space: 3rem;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	color: white;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	display: flex;
	height: 100vh;
	background-color: rgb(46, 56, 70);
	line-height: 1;
	font-family: sans-serif;
}

ol, ul {
	list-style: none;
}

header {
	width: 40vw;
	background-color: rgb(17, 23, 31);
	text-align: center;
}

.logo {
	margin-top: 40vh;
	background: rgb(0, 0, 0, 0.5);
	font-family: 'Orbitron', sans-serif;
}

main {
	align-self: center;
}

.top {
	margin-left: var(--left-space);
	width: 80%;
	font-size: 1.5rem;
}

.top p:last-child {
	margin-top: 2rem;
	margin-bottom: 4rem;
}

section {
	margin: 2rem 0;
	padding: 1.5rem var(--left-space);
	background-color: rgb(90, 110, 138);
}

section p {
	font-size: 1.5rem;
}

button {
	margin-left: var(--left-space);
	padding: 1rem 2rem;
	border: none;
	border-radius: 1rem / 2rem;
	font-weight: 600;
	background-color: var(--accent-color);
}

.login {
	margin-top: 2rem;
	margin-left: var(--left-space);
}

.login a {
	font-weight: 600;
	text-decoration: none;
	color: var(--accent-color);
}